<div ui-view autoscroll='false'>
  <div class="div-newgame">
    <input type="number" placeholder="# of Dice?" ng-model="diceInput"></input>
    <input type="number" placeholder="# of Players?" ng-model="playerInput"></input>
    <button class="button-primary" ng-click="createGame(diceInput, playerInput)">Play</button>
  </div>

  <div class="div-hands">
    <div class="button" ng-repeat="hand in game[0].playerHands track by $index" ng-click="toggle(hand, $index)">
      Player {{$index}} 

      <span ng-show="hand.show">
       hand: {{ hand }}
      </span>
  </div>

  <div class="div-actions" ng-repeat="action in game[game.length-1].actions track by $index">
    Player {{ action.player }} claimed there are {{ action.claimNumber }} {{ action.claimFace }}'s
  </div>

<br>

<button class="button-primary" ui-sref="app.dash">dash</button>
</div>