<h4>Player Dashboard</h4>
<h5>Player {{ currentPlayer }}'s current dice hand is {{ currentHand }}</h5>

<div>
  <input type="number" placeholder="move number" ng-model="moveNum"></input>
  <input type="number" placeholder="move face" ng-model="moveFace"></input>
  <input type="number" placeholder="claim number" ng-model="claimNum"></input>
  <input type="number" placeholder="claim face" ng-model="claimFace"></input>
  <button ng-click="claim(moveNum, moveFace, claimNum, claimFace)" ui-sref='app'>Claim</button>
</div>

<div>
  <input type="number" placeholder="challenge player # ..." ng-model="challengedInt"></input>
  <button ng-click="challenge(challengedInt)" ui-sref='app'>Challenge</button>
</div>

<br>
<button class="button-primary" ui-sref='app'>Back to Game</div>